@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

:root {
    --primary: #e26cfe;

    // Default layout 
    --default-layout-header-height: 60px;
    --default-layout-width: 1180px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
}

body {
    font-family: 'Prompt', sans-serif;
    line-height: 1.15;
    font-size: 12px;
    text-rendering: optimizeSpeed;
}
