@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

:root {
    --primary: #cf4b4b;
    --black: #000;
    --text-color: #333;
    --white: #fff;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1180px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
}

body {
    font-family: 'Prompt', sans-serif;
    line-height: 1.15;
    font-size: 12px;
    text-rendering: optimizeSpeed;
    background:#ddd;
    // display: flex;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    // color: var(--text-color);
    text-decoration: none;
}

.col-md-6 {
    width: 50%;
}