.wrapper {
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;
}

.heading-section {
    text-align: center;
    margin-bottom: 20px;
}

.sub-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.heading-section h2 {
    font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.row {
    // display: -ms-flexbox;
    display: flex;
    // -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    // margin-left: -15px;
}

.carousel-testimonial .item {
    padding: 30px 10px;
}

.product-img {
    width: 90%;
}

.product-dtl p {
    font-size: 14px;
    line-height: 24px;
    color: #7a7a7a;
}
.product-dtl {
    font-size: 15px;
}
.product-dtl label {
    line-height: 16px;
    font-size: 18px;
}

.product-info {
    width: 100%;
}

.product-name {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 4px;
}

.reviews-counter {
    font-size: 13px;
}
.reviews-counter span {
    vertical-align: -2px;
}

.product-price-discount {
    font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}
.product-price-discount span.line-through {
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}

.category {
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.display-flex {
    display: flex;
}

.product-count {
    margin-top: 15px;
    // display: flex;
}

.product-count .qtyminus,
.product-count .qtyplus {
    width: 34px;
    height: 34px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}

.product-count .qtyminus {
    border-radius: 3px 0 0 3px;
    &:hover {
        background-color: #7a7a7a;
    }
}
.product-count .qtyplus {
    border-radius: 0 3px 3px 0;
    &:hover {
        background-color: #7a7a7a;
    }
}

.product-count .qty {
    width: 60px;
    text-align: center;
}

.round-black-btn {
    border-radius: 4px;
    background: #212529;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529;
    // transition: all 0.5s ease-in-out 0s;
    
    &:hover {
        // background: transparent;
        background: rgba(35, 35, 40, 0.726);
        color: white;
        cursor: pointer;
    }
    &:active {
        border-color: #ff9800;
        background: #ff9800;
        color: black;
    }
}
